# Node.js dependencies
/frontend/node_modules
/API/node_modules

# Logs
npm-debug.log
yarn-error.log

# Angular build output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Angular cache
/frontend/.angular/cache

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

# Miscellaneous
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/testem.log
/frontend/typings

# Files to ignore for Docker and related tools
frontend/Dockerfile
API/Dockerfile
docker-compose.yml
